
nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding-top: 20%;
    // padding-left: calc(100%/3);
    // padding: 100px;
    // padding-bottom: 0;
    // padding-top: 100px;
    // padding-left: 100px;
    > div {
        flex: 1;
    }
}

nav .top {
    padding: 100px;
    padding-right: 0;
    padding-bottom: 0;
}

nav .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
        max-width: 500px;
    }
    #about-link {
        text-decoration: none;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
        text-decoration: none;
    }
    overflow: hidden;
    li, a {
        cursor: pointer;
    }

    // details summary::marker {
    //     display:none;
    // }
    details > summary {
        list-style: none;
        padding: 2px 0;
      }
      details > summary::-webkit-details-marker {
        display: none;
      }
    > li ul {
            display: flex;
            flex-direction: column;
            // gap: 10px;
            > li {
                padding-top:15px ;
                padding-left: 15px;
                // background: #000;
                a.active {
                    // display: block;
                    // background-color: white;
                    position: relative;
                    font-style: italic;
                    &::after {
                        content: "";
                        position: absolute;
                        // right: 0%;
                        left: 100%;
                        top: 50%;
                        transform: translateX(25px);
                        z-index: -1;
                        height: 1px;
                        width: 60vw;
                        background: #000;
                    }
                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    // }
                }
    }
    
    }
}

#about-link {
    &.active {
        &::after {
            content: " x";
        }
    }
}